<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
         <%include ../static/partials/navbar.ejs %>
         <main class="container">
            <% include ../static/partials/messages.ejs %>
             <h1> $15.00 has been charged to your account. Enjoy wikis!</h1>
        </main>
         <% include ../static/partials/baseScripts.ejs %>
     </body>
</html> 